body {
	max-width: 65%;
	margin: 0 auto;
	font-family: arial;
	font-size: 105%;
	text-align: center;
	color: black;
	background-color: #303030;
}

.file {
	background-color: #ddceee;
	text-align: center;
	padding: 2px;
	;
	border-radius: 0.375em;
	margin: 4px;
}

ul {
	list-style-type: none;
	margin: 0.1em;
	margin-top: 15px;
	padding: 0;
	border-radius: 0.375em;
	overflow: hidden;
	background-color: #fffffff0;
	font-size: 1em;
}

li {
	float: left;
	border-radius: 0.375em;
	border-right: 0.06em solid #bbb;
}

last-child {
	border-right: none;
	font-size: 85%
}

li a {
	display: block;
	border-radius: 0.375em;
	padding: 0.44em 0.44em;
	text-decoration: none;
	font-size: 85%;
	color: black;
}

li a:hover {
	background-color: #EAE3EA;
	border-radius: 0.375em;
	font-size: 85%
}

section {
	font-size: 0.88em;
}

h1 {
	color: white;
	border-radius: 0.5em;
	font-size: 1em;
	padding: 0.2em 0.2em;
	background: #c60f0f;
}

h2 {
	color: orange;
	font-size: 1.0em;
}

h3 {
	font-size: 0.8em;
}

table {
	font-family: arial, sans-serif;
	font-size: 0.9em;
	border-collapse: collapse;
	width: 85%;
}

"
 th,
td {
	border: 0.06em solid #dddddd;
	text-align: left;
	padding: 0.3em;
	border-bottom: 0.06em solid #dddddd;
}

"
 tr:nth-child(odd) {
	background-color: #eeeeee;
}

.rcorners_n {
	border-radius: 0.5em;
	background: #558ED5;
	padding: 0.3em 0.3em;
	width: 20%;
	color: white;
	font-size: 75%;
}

.rcorners_m {
	border-radius: 0.5em;
	background: #558ED5;
	padding: 0.3em 0.3em;
	width: 50%;
	color: white;
	font-size: 75%;
}

.rcorners_w {
	border-radius: 0.5em;
	background: #558ED5;
	padding: 0.3em 0.3em;
	width: 70%;
	color: white;
	font-size: 75%;
}

.column {
	float: left;
	width: 50%;
	height: 45%;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
}

footer {
	background-color: #c60f0f;
	text-align: center;
	padding: 0.3em 0.3em;
	border-radius: 0.375em;
	font-size: 60%;
	color: white;
}

button {
	border-radius: 0.5em;
	background: #c60f0f;
	padding: 0.3em 0.3em;
	width: 20%;
	color: white;
	font-size: 130%;
}

.buttons {
	border-radius: 0.5em;
	background: #751b1b;
	padding: 0.3em 0.3em;
	width: 15%;
	color: white;
	font-size: 80%;
}

.buttonsm {
	border-radius: 0.5em;
	background: #751b1b;
	padding: 0.3em 0.3em;
	width: 9%;
	color: white;
	font-size: 70%;
}

.buttonm {
	border-radius: 0.5em;
	background: #751b1b;
	padding: 0.3em 0.3em;
	width: 15%;
	color: white;
	font-size: 70%;
}

.buttonw {
	border-radius: 0.5em;
	background: #751b1b;
	padding: 0.3em 0.3em;
	width: 40%;
	color: white;
	font-size: 70%;
}

a {
	font-size: 75%;
}

p {
	font-size: 75%;
}